.chat-app {
	width: 100%;
	max-width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 120px;
	position: relative;
	padding: 32px;
	overflow: hidden !important;

	&__phone, .phone {
		position: relative;
		width: 100%;
		max-width: 247px;
		height: 505px;
		border: 10px solid $white;
		border-radius: 30px;
		flex-shrink: 0;
		background-color: $lightgrey-75;
		position: relative;
		box-shadow: 0px 30px 60px -10px $shadowcolor;
		overflow: hidden;
		animation: flow 10s ease infinite;

		&__header, .header {
			grid-area: header;
			background: $gradient;
			width: 100%;
			height: 80px;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			gap: 16px;
			padding: 32px 16px 16px 16px;
			box-shadow: 0px 0px 13px $shadowcolor;

			&__back {
				margin-top: 4px;
				cursor: pointer;
			}
			
			&__contact, .contact {
				display: grid;
				grid-template: 
				"avatar name"
				"avatar status";
				
				&__avatar {
					grid-area: avatar;
					width: 32px;
					height: 32px;
					border: 2px solid $white;
					border-radius: 50%;
					display: block;
					margin-right: 8px;
				}
				
				&__name {
					grid-area: name;
					line-height: 1;
					align-self: center;
					color: $white;
				}
				
				&__status {
					grid-area: status;
					line-height: 1;
					align-self: center;
					color: $lightmagenta;
				}

			}
			
			&__menu {
				margin-left: auto;
				margin-top: 4px;
				cursor: pointer;
			}

		}

		&__inner {
			height: 100%;
			height: calc(100% - (50px));
			overflow-y: scroll;
		}
		
		&__messages {
			padding: 8px;
			height: calc(100% - (80px));
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			overflow: scroll;
			flex-grow: 0;
			border-bottom: 1px solid $lightgrey-100;
		}
		
		&__message, .message {
			max-width: 75%;
			margin-bottom: 10px;
			opacity: 0;
			animation: appear 0.3s ease forwards;
			position: relative;
			top: 16px;
			
			&:last-child {
				margin-bottom: 0;
			}
			
			&--left {
				align-self: flex-start;
				border-radius: 10px 10px 4px 10px;
			}
			
			&--right {
				border-radius: 10px 10px 4px 10px;
				align-self: flex-end;
			}
			
			&--white {
				background-color: $white;
				color: $black;
				box-shadow: 0px 10px 5px -5px rgba(62, 39, 83, 0.045318);
			}
			
			&--magenta {
				background-color: $magenta;
				color: $violet;
			}
			
			&--violet {
				background-color: $violet;
				color: white;
			}
			
			&--text, .text {
				padding: 10px;
				background-color: white;
				border-radius: 10px;	
			}

			&--offer, .offer {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				padding: 10px;
				width: 100%;
				align-items: center;
				cursor: pointer;

				&__checkbox, .checkbox {
					width: 14px;
					height: 14px;
					min-width: 14px;
					min-height: 14px;
					border-radius: 50%;
					margin-right: 8px;
					border: 1px solid $magenta;
					position: relative;

					&__icon {
						font-size: 0px;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						z-index: 5;
					}
						
					&::after {
						content: "";
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						border-radius: 50%;
						width: 0%;
						height: 0%;
						background-color: $green;
					}

					&--checked {

						.checkbox__icon {
							font-size: 6px;
						}

						&::after {
							width: 100% !important;
							height: 100% !important;	
						}

					}

				}

				&__text {
					margin-top: 2px;
					margin-right: 8px;
				}

				&__price {
					margin-left: auto;
				}

			}

			&--media, .media {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: flex-end;
				gap: 10px;

				img {
					display: block;
					width: 40px; 
					height: 40px;
					border-radius: 8px;
					object-fit: cover;

					&:last-child {
						margin-right: 0;
					}

				}

			}

		}
		
		&__input, .input {
			height: 32px;
			width: calc(100% - (2 * 8px));
			display: block;
			margin-top: 16px;
			margin: 8px;
			padding: 8px;
			position: relative;
			
			&__textarea {
				border-radius: 18px;
				position: absolute; 
				inset: 0 0 0 0;
				padding: 10px 16px;
				background-color: $white;
			}

			&__button, .button{
				width: 24px;
				height: 24px;
				background-color: $anthrazit;
				border-radius: 50%;
				position: absolute;
				top: 4px;
				right: 4px;
				bottom: 4px;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;

				&__icon {
					font-size: 12px;
					margin-left: 3px;
				}

			}
	
		}

		&::before {
			content: "";
			width: 60%;
			height: 20px;
			border-radius: 0px 0px 14px 14px;
			background-color: $white;
			position: absolute; 
			top: 0;
			left: 50%;
			transform: translateX(-50%)
		}
	}
	
	&__teaser, .teaser {
		max-width: 445px;

		&__title {
			margin-bottom: 24px;
		}

		&__text {
			color: $grey;
		}

	}

	&::before, 
	&::after {
		content: "";
		position: absolute;
		max-width: calc(50vw - 200px);
		width: 41vw;
		height: 145%;
		background: $gradient;
		border-radius: 50vw;
		z-index: -1;
	}

	&::before {
		bottom: 15vh;
		left: -5vw;
	}
	
	&::after {
		top: 15vh;
		right: -5vw;
		opacity: 0.03
	}

	@media (max-width: 1200px) {
		gap: 64px
	}

	@media (max-width: 700px) {
		flex-direction: column;

		&__phone, .phone {
			max-width: 350px;
			height: 545px;
		}

		&__teaser, .teaser {
			margin-bottom: 32px;
	
			&__title {
				text-align: center;
			}
	
			&__text {
				text-align: center;
			}
	
		}

		&::before, 
		&::after {
			content: "";
			position: absolute;
			max-width: calc(100vw);
			width: 100vw;
		}
	
		&::before {
			bottom: 40vh;
			left: -45%;
		}
		
		&::after {
			top: 40vh;
			right: -45%;
			opacity: 0.03
		}

	}
	@media (max-width: 350px) {
		
		&__message, .message {
			max-width: 90% !important;
		}

	}

}