$white: #FFFFFF;
$lightgrey-100: #FAFAFA;
$lightgrey-75: #F5F3F7;
$lightgrey-50: #FAFAFA;
$grey: #A39DA9;
$darkgrey: #979797;
$anthrazit: #3E2753;
$black: #6E5D7E;
$lightmagenta: #D99EFF;
$magenta: #EEE5F4;
$darkmagenta: #E844FF;
$violet: #8739FF;
$green: #3BBC9B;
$gradient: linear-gradient(225deg, $darkmagenta 0%, $darkmagenta 0.01%, $violet 100%);
$shadowcolor: rgba(62, 39, 83, 0.251202);
